name: Cargo Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: [self-hosted, fireactions]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run tests (release)
        run: cargo test --release
